@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-top: 50px;
}

h2 {
  text-align: center;
}

nav {
  background-color: #252830;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  padding: 20px;
  margin: 15px auto 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;
}

.tribute-info {
  margin: 0 10px;
  max-width: 500px;
}

.responsive-img {
  display: block;
  max-width: 100%;
}

.img-div p {
  background-color: #eee;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.bg-red {
  background-color: rgb(204, 70, 55);
  color: #fff;
}

.videos-wrapper {
  margin: 10px;
}

.social-ul {
  font-size: 32px;
}

footer {
  text-align: center;
  font-weight: 700;
  padding: 20px;
  background-color: #252830;
  color: #fff;
}

footer .blue {
  color: blue;
}

footer .gold {
  color: gold;
}
